*{
   
    color: gray;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Courier';
}

.head_container{
width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #DDD;
margin: 0 auto;

    
}

.head_container h1{
    font-size: 20px;
    text-align: center;
}

#head_container-title{
    background-color: #00afff;
    color: #fff;
    width: 100%;
}